@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sarabun:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
$font-primary: "Roboto", sans-serif;
$font-secondary: "Sarabun", sans-serif;

$font-size-sm: 0.875rem;
$font-size-xxs: 0.625rem;
$font-size-xs: 0.8125rem;
$font-size-base: 1rem;
$font-size-lg: 1.25rem;
$font-size-xl: 2.25rem;
$font-size-xxlg: 3.5rem;

$font-color-primary: #73828E;
$font-dark-color: rgb(0, 0, 0);
$font-light-color: rgb(255, 255, 255);
$primary-text-color: rgb(0, 0, 0);
$secondary-text-color: rgb(255, 255, 255);
$tertiary-color: rgba(151, 151, 151, 0.177);