@import url("https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Public+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

// Fonts
$font-primary: "Public Sans", sans-serif;
$font-secondary: "Bitter", serif;

// Text size
$font-size-xs: 12px;
$font-size-sm: 14px;
$font-size-md: 16px;
$font-size-lg: 18px;
$font-size-xl: 20px;

// Display size
$font-size-display-xs: 24px;
$font-size-display-sm: 30px;
$font-size-display-md: 36px;
$font-size-display-lg: 48px;
$font-size-display-xl: 60px;  
$font-size-display-2xl: 72px;

// Weight
$font-weight-regular: 500;
$font-weight-medium: 400;
$font-weight-semibold: 600;
$font-weight-bold: 700;

// Colors
$primary-gray: #64748B;
$light-gray: #CBD5E1;
$blue-gray: #94a3b8;
$purple: #7445FF;
$disabled-gray: #E2E8F0;
$dark-blue: #000c1c;


$input-blue-shadow: 0px 0px 1px 1px #0084ff;
$input-success: #1A8449;
$input-error: #CE1821;
$input-error-dark: #A5131A;
$input-error-light: #FFEBEC;

// Buttons

// Secondary Button
$purple-ultra-light: #F1ECFF;
$purple-dark: #6037DA;
$purple-light: #E3DAFF;
$purple-transparent: #F1ECFF;
$purple-ultra-light-text: #C7B5FF;

// Error Light Button
$red-error-light: #F5D1D3;
$red-active-light: #EBA3A6;

// Social Media Button
$light-bg: #F8FAFC;